/venv 
/rosbags
*.tar.gz
*.txt
!requirements.txt
!/assets/cam_K.txt
!/assets/cam_K_tagless.txt
/__pycache__
/dataset
*.gif
*.mp4
*.png
.vscode
/ob_in_cams
*.npy
*.obj
*.ply
/consolidated_results
/evaluation
/assets/object_scans
/table_calibration
!/table_calibration/table_heights.yaml
evaluation*
*.sh

