<!-- Computed inertial properties by assuming the mesh represents an infinitely
thin, uniformly dense, hollow object.  Done via cnets-data-generation's
test_mesh_inertia.py script, which generated the following, assuming a mass
value of 0.37 kg:

    Object:  half
    Center of mass:  [-0.01585425 -0.00986409 -0.04145316]
    Inertia tensor about center of mass:
        [[ 0.00210965  0.00020542  0.00013421]
        [ 0.00020542  0.00110365 -0.00072384]
        [ 0.00013421 -0.00072384  0.00164132]]

TODO:  Need to pick a coefficient of friction based on measurements.
-->

<?xml version="1.0"?>
<robot name="object" xmlns:drake="https://drake.mit.edu/">
    <link name="body">
        <inertial>
            <origin xyz="-0.01585425 -0.00986409 -0.04145316" rpy="0 0 0"/>
            <mass value="0.37" />
            <inertia
                ixx="0.00210965"
                ixy="0.00020542"
                ixz="0.00013421"
                iyy="0.00110365"
                iyz="-0.00072384"
                izz="0.00164132" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="half_gt.obj"/>
            </geometry>
            <material name="pennred">
                <color rgba="0.6 0 0 1.0" />
            </material>
        </visual>
        <collision>
            <geometry>
                <mesh filename="half_gt.obj"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <drake:proximity_properties>
                <drake:mu_static value="0.15" />
            </drake:proximity_properties>
        </collision>
    </link>
</robot>